# yfinance==0.2.54
yfinance==0.2.58
notebook
riskfolio-lib
# pandas<2.2
pandas==2.2.3
backtrader
# PyMySQL==1.0.2
PyMySQL==1.1.1
# SQLAlchemy==1.4.46
SQLAlchemy==2.0.40
sshtunnel==0.4.0
# python-dotenv==0.21.1
python-dotenv==1.1.0
lxml
