git+https://github.com/Mael-J/mstarpy.git@master
numpy<2.0.0
#  pip install -e vectorbt vectorbt[full]
vectorbt[full]
yfinance
notebook==6.5.6
ipywidgets>=7.5
# jupyter-client==6.1.12
# jupyter_server
investpy
PyPortfolioOpt
riskfolio-lib
openpyxl
quantstats-lumi
backtrader
Mosek
kaleido